
@import "tailwindcss";

@import "./styles/global.css";

@import './styles/dashboard.css';

/* Animation pour les toasts */
@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slideInRight {
  animation: slideInRight 0.3s ease-out;
}

@import './styles/Sidebar.css';
